.game {
  margin: 0;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between
}

.centerContiener,
.bottomContainer,
.topContainer {
  display: flex;
}

.bottomContainer,
.topContainer {
  flex-direction: column;
  align-items: center;
}

.topContainer {
  margin-top: 3px;
}

.centerContiener {
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.centerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style:solid ;
  border-color: black;
  height: 10vw;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.isTurn {
  border-style:solid ;
  border-color: black;
}

.leftBox, .rightBox {
  width: 20 vw;
}

.leftBox{
  margin-left: 5px;
}
.rightBox{
  margin-right: 5px;
}
.topBox{
  margin-top: 5px;
}
.bottomContainer{
  margin-bottom: 5px;
}