.smallButton {
    width: 5vw;
    /* display: inline-block; */
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4b00fa;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px rgba(250, 1, 175, 0.301);
    margin: 5px;
    padding: 5px 10px 
}

.smallButton:hover {
    background-color:  #5d058073
}

.smallButton:active {
    background-color: #5d058073;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.smallButton:disabled{
    background-color: #7f817f;
    box-shadow: 0 5px #666;
}