.card {
  width: 4vw;
  height: auto;
  /* padding: 3px; */
}

.centerCard {
  width: 4vw;
  height: auto;
  padding: 3px;
}

.myCard {
  width: 4.5vw;
  height: auto;
  padding: 3px;
}

.sideCard {
  width: auto;
  height: 4vw;
  /* padding: 3px; */
}

/* .rotatedCard{
    width: 4vw;
    height: auto;
    padding: 1px;
    transform: rotate(90deg);
  } */

.sideCard-container {
  flex: 1 0 0;
  overflow-y: hidden;
}

.sideCard-container:last-child {
  flex: 0 0 auto;
}

.card-container {
  flex: 1 0 0;
  overflow-x: hidden;
}

.card-container:last-child {
  flex: 0 0 auto;
}