.card {
  width: 4vw;
  height: auto;
  padding: 3px;
}

.myCard {
  width: 4.5vw;
  height: auto;
  padding: 3px;
}

.sideCard {
  width: auto;
  height: 4vw;
  padding: 3px;
}

/* .rotatedCard{
    width: 4vw;
    height: auto;
    padding: 1px;
    transform: rotate(90deg);
  } */