.card{
  width: 60px;
  height: 90px;
    padding: 3px;
    display: block;
    position:absolute
  }
  
.myCard{
  width: 60px;
  height: 90px;
  padding: 3px;
  display: block;
}

  .sideCard{
    width: 60px;
    height: 90px;
    padding: 3px;
    display: block;
    transform: rotate(90deg)
  }

  /* .sideCard{
    width: 45px;
    height: 70px;
    padding: 1px;
    display: block;
    transform: rotate(90deg);
  } */