.login{
    position: relative;
    top: 12vh;
    background-color: white;
    padding: 15px;
    width: fit-content;
    border-radius: 5px;
}

.loginBox{
    display: flex;
    flex-direction: column;
}

.leaveButton{
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.smallContainer{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

h1{
    margin: 0;
    display: inline;
}

.cardsPic{
    height: 20%;
    width: 20%;
}

/* .MuiOutlinedInput-notchedOutline{
    border: 4px dotted blue
} */