@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Fuzzy+Bubbles);


.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1f0163;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #999;
    margin: 10px;
    padding: 15px 25px;
    font-family: 'Fuzzy Bubbles';
}

.button:hover {
    background-color:  #5d058073
}

.button:active {
    background-color: #5d058073;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button:disabled{
    background-color: #7f817f;
    box-shadow: 0 5px #666;
}

.copyButton{
    width: auto;
    height: auto;
    font-size: small;
}