.P1hand,.P2hand,.P3hand,.P4hand {
  position:absolute; /*to delete */
  display: flex;
}

.P1hand {
  bottom: 10px;
}

.P2hand {
  right: 10px;
  flex-direction: column;
  justify-content:space-around;
}

.P3hand {
  top: 10px;
}

.P4hand {
  left: 10px;
  flex-direction: column;
}


