@mixin cardsOverlap($numOfCards, $distance) {
  @for $i from 1 through $numOfCards {
    img:nth-child(#{$i}) {
      margin-left: ($i *$distance);
    }
  }
}

.P1hand,.P2hand,.P3hand,.P4hand {
  position:relative;
  display: flex;
  justify-content: center
}

.P2hand, .P4hand {
  flex-direction: column;
}

.P2hand, .P4hand  {
  & > * {
    margin-bottom : -6vw; 
  } 
  // margin-left: 30px;
} 
.P3hand{
  & > * {
    margin-right : -3vw;
  } 
} 
// .P4hand {
//   & > * {
//     margin-bottom : -6vw;
//   } 
//   // margin-right: 30px;
// } 

.P1hand img,.P2hand img,.P3hand img,.P4hand img{
  position: relative;
}


.bottomBox,.rightBox,.topBox,.leftBox{
  justify-content: space-around; 
  display: flex;
  align-items: center;
}

.bottomBox{
  flex-direction: column;
}

.topBox{
  flex-direction: column;
}

.rightBox{
  flex-direction: row-reverse;
}


